#headerCard {
    position: relative;
    width: auto;
    height: 650px ;
    overflow: hidden;
    pointer-events: none;
    
  }
#headerCard img { 
  width: 70%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
}
  .headeriframe {width: 100%;
  height: 0;
  padding-bottom: 56.25%;
;}

  .headeriframe[src*="https://www.youtube.com/embed/_SluAK6cWvM"] {
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    opacity: 1; /* Set the opacity of the image */
    z-index: 1; /* Set the z-index to be on top of the video */
  }
  @media only screen and (max-width: 767px) {
    #headerCard {
      height: 400px;
    }
    
    #headerCard img { 
    width: 100%;
    top: 90px;
    left: 0;
    transform: none;
    
    }
    
   
  }
  


  